.contenedor {
  display: grid;
  grid-template-areas:
    "area1 area2"
    "area3 area3";
}

.titulo {
  grid-area: area1;
  text-align: left;
}

.btnNuevo {
  grid-area: area2;
  text-align: right;
}

.listado {
  grid-area: area3;
  text-align: center;
}
